parameters:
	ignoreErrors:
		-
			message: "#^Cannot access offset 'action' on Keboola\\\\GoogleSheetsWriter\\\\Application\\.$#"
			count: 1
			path: src/Keboola/GoogleSheetsWriter/Application.php

		-
			message: "#^Cannot access offset 'fileId' on mixed\\.$#"
			count: 1
			path: src/Keboola/GoogleSheetsWriter/Application.php

		-
			message: "#^Cannot access offset 'tables' on mixed\\.$#"
			count: 5
			path: src/Keboola/GoogleSheetsWriter/Application.php

		-
			message: "#^Cannot access offset 0 on mixed\\.$#"
			count: 4
			path: src/Keboola/GoogleSheetsWriter/Application.php

		-
			message: "#^Cannot call method getReasonPhrase\\(\\) on Psr\\\\Http\\\\Message\\\\ResponseInterface\\|null\\.$#"
			count: 2
			path: src/Keboola/GoogleSheetsWriter/Application.php

		-
			message: "#^Cannot call method warning\\(\\) on mixed\\.$#"
			count: 1
			path: src/Keboola/GoogleSheetsWriter/Application.php

		-
			message: "#^Parameter \\#1 \\$file of method Keboola\\\\GoogleSheetsWriter\\\\Writer\\:\\:createSpreadsheet\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: src/Keboola/GoogleSheetsWriter/Application.php

		-
			message: "#^Parameter \\#1 \\$fileId of method Keboola\\\\GoogleSheetsWriter\\\\Writer\\:\\:getSpreadsheet\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Keboola/GoogleSheetsWriter/Application.php

		-
			message: "#^Parameter \\#1 \\$sheet of method Keboola\\\\GoogleSheetsWriter\\\\Writer\\:\\:addSheet\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: src/Keboola/GoogleSheetsWriter/Application.php

		-
			message: "#^Parameter \\#1 \\$sheet of method Keboola\\\\GoogleSheetsWriter\\\\Writer\\:\\:deleteSheet\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: src/Keboola/GoogleSheetsWriter/Application.php

		-
			message: "#^Parameter \\#1 \\$sheets of method Keboola\\\\GoogleSheetsWriter\\\\Writer\\:\\:process\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: src/Keboola/GoogleSheetsWriter/Application.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Keboola/GoogleSheetsWriter/Logger/GelfFormatter.php

		-
			message: "#^Parameter \\#1 \\$host of class Gelf\\\\Transport\\\\TcpTransport constructor expects string\\|null, string\\|false given\\.$#"
			count: 1
			path: src/Keboola/GoogleSheetsWriter/Logger/HandlerFactory.php

		-
			message: "#^Parameter \\#2 \\$port of class Gelf\\\\Transport\\\\TcpTransport constructor expects int\\|null, string\\|false given\\.$#"
			count: 1
			path: src/Keboola/GoogleSheetsWriter/Logger/HandlerFactory.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Keboola/GoogleSheetsWriter/Logger/LineFormatter.php

		-
			message: "#^Parameter \\#1 \\$sheets of method Keboola\\\\GoogleSheetsWriter\\\\Sheet\\:\\:findSheetPropertiesById\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: src/Keboola/GoogleSheetsWriter/Sheet.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: src/Keboola/GoogleSheetsWriter/Writer.php

		-
			message: "#^Cannot access offset 'addSheet' on mixed\\.$#"
			count: 1
			path: src/Keboola/GoogleSheetsWriter/Writer.php

		-
			message: "#^Cannot access offset 'properties' on mixed\\.$#"
			count: 3
			path: src/Keboola/GoogleSheetsWriter/Writer.php

		-
			message: "#^Cannot access offset 'title' on mixed\\.$#"
			count: 1
			path: src/Keboola/GoogleSheetsWriter/Writer.php

		-
			message: "#^Cannot access offset 0 on mixed\\.$#"
			count: 1
			path: src/Keboola/GoogleSheetsWriter/Writer.php

		-
			message: "#^Method Keboola\\\\GoogleSheetsWriter\\\\Writer\\:\\:addSheet\\(\\) should return array but returns mixed\\.$#"
			count: 2
			path: src/Keboola/GoogleSheetsWriter/Writer.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: tests/Keboola/GoogleSheetsWriter/FunctionalTest.php

		-
			message: "#^Cannot access offset 'error' on mixed\\.$#"
			count: 1
			path: tests/Keboola/GoogleSheetsWriter/FunctionalTest.php

		-
			message: "#^Cannot access offset 'id' on mixed\\.$#"
			count: 1
			path: tests/Keboola/GoogleSheetsWriter/FunctionalTest.php

		-
			message: "#^Cannot access offset 'message' on mixed\\.$#"
			count: 1
			path: tests/Keboola/GoogleSheetsWriter/FunctionalTest.php

		-
			message: "#^Cannot access offset 'properties' on mixed\\.$#"
			count: 18
			path: tests/Keboola/GoogleSheetsWriter/FunctionalTest.php

		-
			message: "#^Cannot access offset 'sheet' on mixed\\.$#"
			count: 4
			path: tests/Keboola/GoogleSheetsWriter/FunctionalTest.php

		-
			message: "#^Cannot access offset 'sheetId' on mixed\\.$#"
			count: 11
			path: tests/Keboola/GoogleSheetsWriter/FunctionalTest.php

		-
			message: "#^Cannot access offset 'spreadsheet' on mixed\\.$#"
			count: 1
			path: tests/Keboola/GoogleSheetsWriter/FunctionalTest.php

		-
			message: "#^Cannot access offset 'spreadsheetId' on mixed\\.$#"
			count: 1
			path: tests/Keboola/GoogleSheetsWriter/FunctionalTest.php

		-
			message: "#^Cannot access offset 'status' on mixed\\.$#"
			count: 2
			path: tests/Keboola/GoogleSheetsWriter/FunctionalTest.php

		-
			message: "#^Cannot access offset 'title' on mixed\\.$#"
			count: 13
			path: tests/Keboola/GoogleSheetsWriter/FunctionalTest.php

		-
			message: "#^Cannot access offset 0 on mixed\\.$#"
			count: 16
			path: tests/Keboola/GoogleSheetsWriter/FunctionalTest.php

		-
			message: "#^Cannot access offset 1 on mixed\\.$#"
			count: 2
			path: tests/Keboola/GoogleSheetsWriter/FunctionalTest.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 3
			path: tests/Keboola/GoogleSheetsWriter/FunctionalTest.php

		-
			message: "#^Parameter \\#1 \\$fileId of method Keboola\\\\GoogleSheetsClient\\\\Client\\:\\:deleteFile\\(\\) expects string, mixed given\\.$#"
			count: 11
			path: tests/Keboola/GoogleSheetsWriter/FunctionalTest.php

		-
			message: "#^Parameter \\#1 \\$fileId of method Keboola\\\\GoogleSheetsClient\\\\Client\\:\\:getFile\\(\\) expects string, mixed given\\.$#"
			count: 2
			path: tests/Keboola/GoogleSheetsWriter/FunctionalTest.php

		-
			message: "#^Parameter \\#1 \\$fileId of method Keboola\\\\GoogleSheetsClient\\\\Client\\:\\:getSpreadsheet\\(\\) expects string, mixed given\\.$#"
			count: 19
			path: tests/Keboola/GoogleSheetsWriter/FunctionalTest.php

		-
			message: "#^Parameter \\#1 \\$spreadsheetId of method Keboola\\\\GoogleSheetsClient\\\\Client\\:\\:addSheet\\(\\) expects string, mixed given\\.$#"
			count: 2
			path: tests/Keboola/GoogleSheetsWriter/FunctionalTest.php

		-
			message: "#^Parameter \\#1 \\$spreadsheetId of method Keboola\\\\GoogleSheetsClient\\\\Client\\:\\:getSpreadsheetValues\\(\\) expects string, mixed given\\.$#"
			count: 10
			path: tests/Keboola/GoogleSheetsWriter/FunctionalTest.php

		-
			message: "#^Parameter \\#2 \\$array of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertArrayHasKey\\(\\) expects array\\|ArrayAccess, mixed given\\.$#"
			count: 4
			path: tests/Keboola/GoogleSheetsWriter/FunctionalTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertCount\\(\\) expects Countable\\|iterable, mixed given\\.$#"
			count: 6
			path: tests/Keboola/GoogleSheetsWriter/FunctionalTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringContainsString\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: tests/Keboola/GoogleSheetsWriter/FunctionalTest.php

		-
			message: "#^Cannot access offset 'properties' on mixed\\.$#"
			count: 3
			path: tests/Keboola/GoogleSheetsWriter/SheetTest.php

		-
			message: "#^Cannot access offset 'sheetId' on mixed\\.$#"
			count: 3
			path: tests/Keboola/GoogleSheetsWriter/SheetTest.php

		-
			message: "#^Cannot access offset 0 on mixed\\.$#"
			count: 3
			path: tests/Keboola/GoogleSheetsWriter/SheetTest.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 2
			path: tests/Keboola/GoogleSheetsWriter/SheetTest.php

		-
			message: "#^Parameter \\#1 \\$fileId of method Keboola\\\\GoogleSheetsClient\\\\Client\\:\\:getSpreadsheet\\(\\) expects string, mixed given\\.$#"
			count: 3
			path: tests/Keboola/GoogleSheetsWriter/SheetTest.php

		-
			message: "#^Parameter \\#1 \\$spreadsheetId of method Keboola\\\\GoogleSheetsClient\\\\Client\\:\\:addSheet\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: tests/Keboola/GoogleSheetsWriter/SheetTest.php
